body {
    background-image: url('./img/backgroundPhoto.avif');
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
}
#title-line {
    width: 50%;
    height: 10px;
    border: none;
    color: black;
    background-color: black;
}
#container {
    display: flex;
    justify-content: center;
}
#rules-box {
    width: 250px;
    border: 26px solid black;
    padding: 1px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: darkgray;
}
ol {
    color: white;
    font-size: 17px;
}
#game-box {
    border: 7px solid black;
    margin: 5px;
    width: fit-content;
    height:fit-content
}
#tiles {
    margin: 70px auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    height: 150px; 
}
.tile {
    height: 112.5px; 
    width: 112.5px; 
    background: black;
    border: 22.5px; 
    cursor: pointer;
    margin: 30px; 
}
#startbutton {
    cursor: pointer;
    width: 400px; 
    height: 100px; 
    font-size: 40px; 
    background-color: black;
    color: white;
    border: none;
    display: block;
    margin-left: 10px;
}
#containerbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#resetbutton {
    cursor: pointer;
    width: 400px; 
    height: 100px; 
    font-size: 40px; 
    background-color: darkgray;
    color: black;
    border: none;
    margin-right: 10px;
}
#score-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
#score {
    font-size: 30px;
    border: 5px solid black;
    height: 100px; 
    width: 200px; 
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: aliceblue;
}
#scorenum {
    font-size: 40px;
    text-align: center;
}
#highestscorenum {
    font-size: 40px; 
    text-align: center;
}
.volume-control {
    display: flex;
    justify-content: center;
    align-items: center;
}
.newC {
    border: 5px solid black;
    height: 150px; 
    width: 375px; 
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;

}
p {
    color: black;
    font-size: 30px; 
    text-align: center;
}
ol {
    padding-left: 0;
}

@media (max-width: 1085px) {
    h1 {
        font-size: 20px;
    }
    #title-line {
        height: 5px;
    }
    #container {
        flex-direction: column-reverse; 
        align-items: center; 
    }
    #rules-box {
        border: 10px solid black; 
        padding: 10px; 
        margin: 10px; 
        align-items: center; 
        text-align: center; 
    }
    ol {
        font-size: 13px; 
    }
    #game-box {
        width: 89%; 
        height: fit-content;
        border: 5px solid black; 
        margin: 10px; 
    }
    #tiles {
       padding: 0;
       margin: 20px;
       height: 60px;
    }
    .tile {
        height: 80px; 
        width: 80px; 
        border: 10px; 
        margin: 10px; 
    }
    #startbutton {
        width: 80%; 
        height: 60px; 
        font-size: 24px; 
        margin: 10px; 
    }
    #resetbutton {
        width: 80%; 
        height: 60px; 
        font-size: 24px; 
        margin: 10px; 
    }
    #score-box {
        flex-direction: column; 
    }
    #score {
        width: 50%;
        max-width: none; 
        font-size: 24px;
        height: auto; 
    }
    #scorenum {
        font-size: 24px;   
    }
    #highestscorenum {
        font-size: 24px; 
    }
   .newC{
        height: 120px;
        width: 150px;
   }
    p{
        font-size: 20px; 
    }
}
