html,body{ 
    margin:0;
    padding:0;
    height:100%;
    width:100%;
 }

body {
    background-image: url('./img/backgroundPhoto.avif');
}
h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
}
#title-line {
    width: 50%;
    height: 1vh;
    border: none;
    color: black;
    background-color: black;
}
#container {
    display: flex;
}
#rules-box {
    width: 20vh;
    border: 0.5vh solid blue;
    padding: 1vh;
    margin: 1vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    color: aqua;
    
}
ol {
    color: white;
    font-size: 1.7vh;
}
#game-box {
    border: 0.5vh solid black;
    margin: 1vh;
    width:150vh;
    
}
#tiles {
    margin: 10vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3vh;
    height: 50vh;
}
.tile {
    height: 15vh;
    width: 15vh;
    background: black;
    border: 2vh;
    cursor: pointer;
    margin: 4vh ;
}
#startbutton {
    cursor: pointer;
    width: 50%;
    height: 10vh;
    font-size: 4vh;
    background-color: black;
    color: white;
    border: none;
    display: block;
}
#containerbutton {
    display: flex;
    justify-content: center;
    align-items: center;
}
#score-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
#score {
    font-size: 4vh;
    border: 5px solid black;
    height: 17vh;
    width: 17vh;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: aliceblue;
}
#scorenum{
    font-size: 4vh;
    text-align: center;
}
#highestscorenum{
    font-size: 4vh;
    text-align: center;
}
.volume-control{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.newC {
    font-size: 4vh;
    border: 5px solid black;
    height: 23vh;
    width: 25vh;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: black;
}
p {
    color: white;
    font-size: 4vh;
    text-align: center;
}
@media (max-width: 480px){
   html {
    height: 100vh;
    width: 100vh;
   }
 
}
@media (max-width: 768px) {
    html {
        height: 100vh;
        width: 100vh;
       }
}
